body{
	background: #17e;
}

ul{
	list-style:none;
	width:80%;
}

li{
	display:inline-block;
	width:20%;
	padding:1em;
}


.barras{
	height:5px;
	border: 3px solid #000;
	width:110px;
	transform: rotate(-30deg);
}

#barra3{
	height:10px;
}

#barra1{
	width: 80px;
	height:7px;
}


li:hover #barra1{
	-webkit-animation-name: disco;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: easing;
}
li:hover #barra2{
	-webkit-animation-name: disco2;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: easing;
}
li:hover #barra3{
	-webkit-animation-name: disco3;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: easing;
}
li:hover #barra4{
	-webkit-animation-name: disco4;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: easing;
}
li:hover #barra5{
	-webkit-animation-name: disco5;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: easing;
}
li:hover #barra6{
	-webkit-animation-name: disco6;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: easing;
}
li:hover #barra7{
	-webkit-animation-name: disco7;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: easing;
}
li:hover #barra8{
	-webkit-animation-name: disco8;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: easing;
}
li:hover #barra9{
	-webkit-animation-name: disco9;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: easing;
}

#boton_inicio{
	position: relative;
	color: white;
	text-decoration: none;
	font-size: 28px;
	top: -166px;
	left: 25px;
}

.mascara{
	width: 150px;
	height: 100px;
	position: relative;
	top: -139px;
	left: -50px;
}

.barras-container{
	width: 150px;
	height: 100px;
	position: relative;
	margin-top: -5px;
	top: -20px;
	left: -8px;
}